
#carouselExampleAutoplaying {
  background-color: #EFE9E3;
  padding: 40px;
  border-radius: 16px;
}

.carousel-inner {
    background-color: #EFE9E3;
  border-radius: 12px;
  overflow: hidden;

  
}

.carousel-item {
  height: 400px;
   
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

